# Exploration & Preprocessing of Text and Timestamps

follows preprocessing as required for D-ETM (https://github.com/adjidieng/DETM/tree/master/scripts)

## Import Libraries

In [3]:
#import ast
from collections import Counter
import html
import matplotlib.pyplot as plt
#import nltk
from nltk.collocations import BigramCollocationFinder, TrigramCollocationFinder
#from nltk.corpus import wordnet
from nltk.metrics import BigramAssocMeasures, TrigramAssocMeasures
#from nltk.stem import WordNetLemmatizer
import numpy as np
import os
from os.path import join
import pandas as pd
import pickle
import re
from scipy import sparse
from scipy.io import savemat, loadmat
from sklearn.feature_extraction.text import CountVectorizer
import string
import time
import unidecode
from wordcloud import WordCloud

## Set Options

In [4]:
pd.set_option('display.width', 200)
pd.set_option('display.max_columns', 100)
plt.close()
plt.interactive(True)

In [5]:
reduce_observations = False
complete_lowercase = True
reduce_timestamps = True
short_period = True
timestamps_grouping = 2 # 2 or 4
one_year = False

In [6]:
if reduce_timestamps:
    if timestamps_grouping != 2 and timestamps_grouping != 4:
        print('Choose other grouping setting for timestamps, either 2 or 4.')

In [7]:
#if reduce_timestamps:
#    timestamps_grouping = timestamps_grouping
#else:
#    del timestamps_grouping

#os.chdir('/Users/Mona/Google_Drive/Masterarbeit/Analysis')# Explore TOT Data

In [9]:
os.chdir('/Users/Mona/Google_Drive/Masterarbeit')

### Directories

In [14]:
os.chdir('/Users/Mona/Google_Drive/Masterarbeit/Analysis')

In [15]:
data_dir = 'Data/Technology-Data/processed/preprocessed/'
results_dir = '/Users/Mona/Google_Drive/Masterarbeit/topics_over_time/'

In [16]:
data_dir

'Data/Technology-Data/processed/preprocessed/'

### Read & Save Data for TOT Model

In [17]:
news = pd.read_csv(data_dir + 'news.csv', sep=";", index_col=0)

In [18]:
news.head()

                                                  id    min_date  min_date_ms  year                                               text
0                technology/2000/jan/01/y2k.business  2000-01-01  946684800.0  2000  city bug fears recede city workers due desks w...
1       technology/2000/jan/01/y2k.internationalnews  2000-01-01  946684800.0  2000  global meltdown fears recede fears millennial ...
2             technology/2000/jan/02/y2k.theobserver  2000-01-02  946771200.0  2000  computer bug absent guest weather centre aberd...
3  technology/2000/jan/03/lifeonlineaguidetothein...  2000-01-03  946857600.0  2000  ex-pupils offer internet revision tips gcse su...
4       technology/2000/jan/03/y2k.internationalnews  2000-01-03  946857600.0  2000  chaos_theory proves unfounded world busiest fi...

In [19]:
titles = list(news['text'])

In [20]:
with open('/Users/Mona/Google_Drive/Masterarbeit/topics_over_time/technology-data/alltitles', 'w') as f:
    for a in titles:
        f.write(a + '\n')

In [21]:
times = list(news['min_date_ms']) # min_date

In [23]:
from collections import Counter

In [37]:
with open('/Users/Mona/Google_Drive/Masterarbeit/topics_over_time/technology-data/alltimes', 'w') as f:
    for time_key, count in Counter(times).items():
        f.write(str(int(count)) + ' -' + str(int(time_key)) + '\n')

In [ ]:
#count = 0
#with open('/Users/Mona/Google_Drive/Masterarbeit/topics_over_time/technology-data/alltimes_test', 'w') as f:
#    for idx,t in enumerate(times):
#        print('\n', idx, t)
#        if idx == 0:
#            count = 1
#        elif t == times[idx-1]:
#            count = count + 1
#        elif idx == len(times)-1:
#            f.write(str(times[idx-1]) + ' - ' + str(count))
#            print(str(times[idx-1]) + ' - ' + str(count))
#            count = 1            
#        else:
#            f.write(str(times[idx-1]) + ' - ' + str(count))
#            print(str(times[idx-1]) + ' - ' + str(count))
#            count = 1

In [ ]:
news['min_date_ms'] = pd.to_datetime(news['min_date'], unit='ms')